.smoothscroll-top {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: $index-modal;
  color: $color-font-theme;
  width: 47px;
  height: 44px;
  line-height: 44px;
  right: 25px;
  bottom: -25px;
  padding-top: 2px;
  font-size: 1.5rem;
  @include border-radius($radius-normal);
  @include gradient;
  @include gradient-theme;
  @include gradient-hover;
  @include transition($hover-duration);
  @include box-shadow(0 10px 6px -6px rgba(0, 0, 0, 0.5));

  &.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1;
    bottom: 25px;
  }
}
